@import "libs/_variables.scss";
@import "libs/_mixins.scss";
@import "libs/_reset.scss";
@import "libs/_responsive.scss";
@import "libs/_responsive";
@import "libs/_placeholders";


/**global**/

* {
    box-sizing: border-box; 
}

html {
        font-size : 62.5%;
    }

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: rgb(4, 4, 4);
    font-weight: 400;
    margin: 0px;
}

img {
    max-width:100%;
    height: auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}


a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}


/*end global*/ 

/*specifics*/

/**************HEADER*********************/

label {
    position:absolute ; left :-999px
}

.logo {
    padding: 2rem 0 0.5rem;
    a {
        @extend %flex-center;
    }

    img {
        width: 45%;
    }
}

.form {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    box-shadow: 0 0.2em 0.5em grey inset;
    padding: 1rem;
    @extend %icon-style;
    @extend %flex-center;

    p
    {
        margin-left: 15px;
    }
}

#search {
    border: none;
    font-size: 1.5rem;
    background: #eaeaea;
}

header > nav {
    background: #f2f2f2;
}


.presentation {
    display: flex;
    align-items: center;
    flex-direction: column;

    nav {
        width: 100%;
        align-items: center;
        padding: 0rem 2rem 2rem;
        margin-top: 2rem; 
        background: #f2f2f2;
        
        article {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}


.choices {
    align-items: center;
    flex-direction: column;
    gap: 0;
    padding: 1rem;
    width: 85%;

    ul > li {
        display: flex;
        align-items: center;
        padding: 0 0 0 5rem;
        margin: 0 0 3rem 0;
        border-radius: 1rem;
        box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #c4c4c4;
        background-color: #f2f2f2;
        gap: 1rem;
        height: 6rem;

        p {
            @extend %nombre-style;
        }

    }
}

.exploration {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 0px 30px;
    height: 100%;

    h1
    {
        font-weight: bold;
        font-size: $font-size-high;
    }
}


.btn_explorer {
    width: auto;
    font-size: $font-size-medium-up;
    @extend %btn-style;
    @extend %btn-explorer-style;
    @extend %btn-transform;
}

#explorationbutton {
        @extend button;
        background-color: $primary;
        border-color: #9356DC;
        border-radius: 40px;
        height: 50px;
        width: 80%;

        a 
        {
            color: white;
            font-weight:700;
            font-size: $font-size-medium-up;
        }

    }


.articles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #f2f2f2;
    padding: 1rem 0;
}

.articles_title {
    display: flex;
    align-items: center;
}
.articles_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 3rem;
}

.article_picture {
    position: relative;
    text-align: center;
    color: white;

    img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
        border-radius: 2rem 2rem 0 0;
    }

    .bannier {
        display: flex;
        font-weight: 700;
        padding: 0 1rem;
        background: #99E2D0;
        border-radius: 0.2rem;
        color: #2c9c81;
        line-height: 2rem;
        position: absolute;
        top: 8px;
        right: 16px;

    }
}

.article_description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -2rem;
    position: relative;
}

#section1 nav {
    height: 300px;

    ul 
    {   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
        li
        {
            display: flex;
            align-items: center;
            box-shadow: 0px 4px 4px 1px #c5c5c5;
            border-radius: 30px;
            height: 75px;
            width: 90%;
            background-color: #f6f6f6;
        }
}

#section1 p {
    border-radius: 20px;
    background-color: #9356DC;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* DOUCEMENT AVEC LE NESTING CI-DESSUS pas plus loin de 3 imbrications*/

/**********MAIN***************/

#section2 {
    background-color: #f6f6f6;

    #restaurantchoice 
    {
        margin: 0px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1226px;

        #restaurantpictures 
        {
            margin: 30px 0px;
        }
    }
}

.restaurant {
    background-color: white;
}

.restaurant img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: 230px;
}


/*FOOTER*/


footer img {
    height: $heightlogo;
}
