@import "libs/_variables.scss";
@import "libs/placeholders.scss";
@import "libs/keyframes.scss";
@import "libs/_reset.scss";


/**global**/

* {
    box-sizing: border-box; 
}

html {
        font-size : 62.5%;
    }

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: rgb(4, 4, 4);
    font-weight: 400;
    margin: 0px;
}

img {
    max-width:100%;
    height: auto;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.container2 {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}


a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 25px;
    margin: 25px 0px;
    font-weight: bold;
    width: 80%;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    padding: 30px 0px;
}

.btn {
    text-align: center;
}


/*LOADER*/

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
    z-index: 1;
    opacity: 0.95;
    animation: disappear 100ms;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    transform-origin: top;
    
}

.loader_ul {
	margin: 0;
	padding: 0;
	display: flex;
	border-bottom: solid 3px white;
 
    li {
        list-style: none;
        width: 30px;
        height: 30px;
        background-color: white;
        margin: 0 10px;
        border-radius: 50%;
        animation: jumping 2s linear infinite;

        &:nth-child(1) {
            animation-delay: 0.45s;
          background-color: $primary;
        }
        
        &:nth-child(2) {
            animation-delay: 0.6s;
            background-color: #db7cea;
        }
        
        &:nth-child(3) {
            animation-delay: 0.3s;
            background-color: #fd8cff;
        }
        
        &:nth-child(4) {
            animation-delay: 0;
            background-color:$secondary;
        }
        
        &:nth-child(5) {
            animation-delay: 0.1s;
            background-color:#f7eb94;
        }
       
        &:nth-child(6) {
            animation-delay: 0.4s;
            background-color:rgb(188, 252, 104);
        }
        
        &:nth-child(7) {
            animation-delay: 0.6s;
            background-color:$tertiary;
        }
        
        &:nth-child(8) {
            animation-delay: 0.7s;
            background-color: #47eac1;
        }
        
        &:nth-child(9) {
            animation-delay: 0.9s;
            background-color:#3d8bd4;
        }
        
        &:nth-child(10) {
            animation-delay: 0.5s;
            background-color: rgb(32, 124, 230)
        }
    }
}

/**************HOMEPAGE****************/

/*HEADER*/

label {
    position:absolute ; 
    left :-999px;
}

.logo {
    padding: 2rem 0 2rem;
    
    a {
        @extend %flex-center;
    }

    img {width: 40%;}
}

@media only screen and (min-width:768px) {
    .logo img {
        width: 25%;
    }
}


.form {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    box-shadow: 0 0.2em 0.5em #d2cfcf inset;
    padding: 1rem;
    height: 50px;
    @extend%icon-style;
    @extend %flex-center;

    p
    {
        margin-left: 15px;
    }
}

#search {
    border: none;
    font-size: 1.5rem;
    background: #eaeaea;
    font-weight: bold;
    text-align: center;
    width: 35%;
}

@media only screen and (min-width:768px) {
    #search {
    width: 12%;
    }
}

.fa-solid.fa-location-dot {
    color: rgb(66, 66, 66);
    font-size: 16px;
}

input::placeholder {
    color: rgb(66, 66, 66);
    opacity: 1;
}

/*END HEADER*/

/*MAIN*/

header > nav {
    background: #fff;
}

.presentation {
    display: flex;
    align-items: center;
    flex-direction: column;

    nav {
        width: 100%;
        align-items: center;
        background: #f2f2f2;
    }
}

@media only screen and (min-width:768px) {
    .presentation {
     flex-direction: row;
     gap: 50px;
     margin: 20px 30px;

     nav {
        border-radius: 50px;
     }
    }
 }
 
#exploration {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    p {
        padding-bottom: 15px;
        font-size: 18px;
        color: #383737ad;
        margin: 0px 25px;
    }
}


.exploration_button {
    width: 50%;
    font-size: 1.4rem;
    margin: 22px 0 40px;
    @extend %btn-style;
    
    &:hover {
        @extend %btn-transform;
    }
}

@media only screen and (min-width:768px) {
    .exploration_button {
        width: 20%;
    }
}



.button_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choices {
    display: flex;
    flex-direction: column;

    ul {
        margin-left: 22px;
    }

    ul > li {
        display: flex;
        align-items: center;
        padding: 0 0 0 5rem;
        margin: 0 0 3rem 0;
        border-radius: 1rem;
        box-shadow: 2px 4px 7px 2.3px #c4c4c478;
        background-color: #f2f2f2;
        gap: 1rem;
        height: 6rem;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            transition-property: transform;
            transition-duration: 400ms;
            background: #F2EAFB;
        }

        a {
            font-weight: bold;
        }

        p {
            @extend %nombre-style;
        }

    }
}

@media only screen and (min-width:768px) {
    .choices h2 {
        text-align: center;
    }

    .choices ul > li p {
        margin-left: -6rem;
    }
}    

#choice_pic1,
#choice_pic2,
#choice_pic3 {
    padding: 10px;
    color: grey;
}


/*articles de retaurant*/

#articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f28c;
    padding: 1rem 0;
    width: 100% !important;
}

.articles_title {
    display: flex;
    align-items: center;
}

.articles_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    article {
        width: 100%;
        background-color: white;
        border-radius: 2rem;
        box-shadow: 0 0 3rem 0 rgb(0 0 0 / 30%);
        position: relative;

        &:hover {
        transition-property: transform;
        transition-duration: 200ms;
        transform: scale(1.05);
        }

        a {
            display: flex;
            flex-direction: column;
        }
    }
}

@media only screen and (min-width:768px) {
    .articles_content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        article {
        width: 45%;
        }
    }
}

.article_picture {
    position: relative;
    text-align: center;
    color: white;

    img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
        border-radius: 2rem 2rem 0 0;
    }

    .bannier {
        display: flex;
        font-weight: 700;
        padding: 0 1rem;
        background: #99E2D0;
        border-radius: 0.2rem;
        color: #2c9c81;
        line-height: 2rem;
        position: absolute;
        top: 8px;
        right: 16px;

    }
}

.article_description {
    display: flex;
    flex-direction: column;  
    position: relative;
    padding: 12px 0px 12px 12px;

    h2 {
        font-size: 15px;
        padding: 6px 0;
    }
}



.fa-heart {
    margin: 0 10px;
    font-size: x-large;
    position: absolute;
    top: 2rem;
    right: 1rem;
    font-weight: 200;
    
    transform: scale(1);
    transition-property: transform;
    transition-duration: 200ms;
    
    &:hover {
        transform: scale(1.15);
        font-weight: 700;
        opacity: 100%;
        cursor: pointer;
        background-image: linear-gradient(0deg, #ff79da, #9356dc);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

}

/* END MAIN*/

/*FOOTER*/

footer {
    padding: 2rem;
    background-color: #353535;
    color: white;
    
    ul {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        margin: auto;
    }

    li {
    margin-bottom: 0.5rem;
        a {
            color: white;
            &:hover {
               text-decoration: underline; 
            }
    
        }
    }
}

.fas.fa-hands-helping {
    font-size: 10px;
}

.footer_logo {
    font-family: "Shrikhand", cursive;
    font-weight: 500;
    padding: 10px 0px 20px 0px;
}

.fa-utensils,
.fa-hands-helping {
    margin-right: 10px;
}


/**************OTHER PAGES****************/


.pages_img {
    height: 31rem;
}

.headerpages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.logopages {

    text-align: center;

    img {
        width: 50%;
    }
    
    
}

.fa-arrow-left {
    font-size: 2rem;
    position: relative;
    left: 1.3em;
}


img {
    width: 100%;
}

.menus {
    background-color: #f6f6f6;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    position: relative;
    margin-top: -8rem;
    padding: 0 1rem;
    z-index: 1;
    padding-bottom: 40px;

    h2 {
        display: flex;
        align-items: center;
        margin-left: 10px;
        position: relative;
        font-family: "shrikhand", sans-serif;
        font-weight: inherit;
        font-size: 26px;
    }
}

section {
    margin: 0 0 4rem 0;
}

@media only screen and (min-width: 768px) {
    section {
        margin: 2rem 2rem 0 0;
    }
}

section h3 {
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    margin-left: 15px;
    text-align: initial;
    animation: slidedown 1.5s;
}

#section1 {
    animation: appear_scale 1s;
}

#section2 {
    animation: appear_scale 2.5s;
}

#section3 {
    animation: appear_scale 5s;
}

.un {
    animation: appear_scale 1s;
}

.deux {
    animation: appear_scale 1.5s;
}

.trois {
    animation: appear_scale 2s;
}

.quatre {
    animation: appear_scale 2.5s;
}

.section_animation {
    margin-right: 0px;
}

.menus.sections h3 {
    content: "";
    width: 40px;
    height: 4px;
    background-color: #99E2D0;
    position: absolute;
    bottom: -10px;
    left: 1px;
}

.section_content {
    color: black;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0px 8px 20px rgb(131 131 131 / 20%);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 70px;
    margin: auto;
    margin-bottom: 15px;
    padding: 0px 0px 0px 10px;
    overflow: hidden;
    animation-fill-mode: both;
    filter: drop-shadow(2px 1px 1px #d6d6d6);
 
    &:hover {
        .section_animation {
            margin-right: 0px;

            .animation_pic i {
                animation: quartercircle 0.5s ease-in-out;
            }
        }
    }
}

@media screen and (min-width: 1280px) {
    .section_content {
        width: 90%;
        height: 70px;
    }
}

.section_title::after {
        content: "";
        width: 40px;
        height: 4px;
        background-color: #99E2D0;
        position: absolute;
        bottom: -10px;
        left: 1px;
}
    
.section_text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: initial;

    .text_title {
        font-size: 16px;
        margin-bottom: 5px;
        margin: 7px 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: bold;
    }

    .text_subtitle {
        font-size: 13px;
        font-weight: 300;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-bottom: 6px;
    }
}

.section_animation {
    display: flex;
    margin-right: -8rem;
    transition: all 500ms;

    .animation_price {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        margin: 0px 28px 0px 0px;
    }
}


.animation_pic {
    background: #99E2D0;
    padding: 20px;
    border-radius: 0 1rem 1rem 0px;
}


.fas.fa-check-circle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #ffffff;
}

.btn button {
    width: 55%;
    margin: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    .sections {
        flex-wrap: wrap;
    }

    .section_content {
        width: 330px;
    }
}

@media only screen and (min-width:768px) {

    #exploration a {
        width: 45%
    }
    
        .sections {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }

    .pages_img {
        height: 352px;
        width: 100%;
        object-fit: cover;
        position: relative;
    }

    footer {
        text-align: center;
        ul {
            align-items: center;
        }
    }

    .btn button {
        width: 30%;
    }

    .fa-arrow-left {
        left: -7.7em;
    }
}

@media only screen and (min-width:1280px) {
    
    #exploration a {
        width: 40%;
    }

    .fa-arrow-left {
        left: -19.7em;
    }

    section {
        width: 340px;
    }

    .sections {
        justify-content: center;
        gap: 20px;
    }
    .exploration_button {
        width: 25%;
    
    }
}


