@import "libs/_variables.scss";
@import "libs/_mixins.scss";
@import "libs/_reset.scss";
@import "libs/_responsive.scss";
@import "libs/_responsive";
@import "libs/_placeholders";


/**global**/

* {
    box-sizing: border-box; 
}

html {
        font-size : 62.5%;
    }

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: rgb(4, 4, 4);
    font-weight: 400;
    margin: 0px;
}

img {
    max-width:100%;
    height: auto;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 25px;
    width: 100%;
}

.container2 {
    max-width: 1400px;
    margin: 0px 50px;
    padding: 0 15px;
    width: 100%;
}


a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}


/*end global*/ 

/*specifics*/

/* ANIMATION BEFORE HOMPAGE

.loader {
    @extend %flex-center;
    padding: 0 11rem;
    background: #f2f2f2;
    position: fixed;
    font-size: 5rem;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: loader 4s forwards;
    @keyframes loader {
        0% {
            opacity: 1;
        }

        99% {
            opacity: 1;
        }

        100% {
            opacity: 0; 
        }
    }
}

    .word {
        opacity: 0;
        font-family: "Shrikhand", sans-serif;

        &:nth-of-type(1) {
        animation: go 2s ease forwards;
        color: #c1a5d3;
        }

        &:nth-of-type(2) {
        animation: go 2s ease forwards;
        animation-delay: 1s;
        color: #b490c3;
        }

        &:nth-of-type(3) {
        animation: go 2s ease forwards;
        animation-delay: 2s;
        color: #b080db;
        }
        @keyframes go 
        {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
}

.duree {
    position: absolute;
    width: 80px;
    height: 80px;
}

.duree:after {
    content: ".";
    font-size: 0;
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid white;
    border-color: white transparent white transparent;
    animation: duree 1200ms 800ms linear forwards;
}

@keyframes duree {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}

/* END OF ANIMATION*/


/**************HOMEPAGE****************/

/*HEADER*/

label {
    position:absolute ; 
    left :-999px;
}

.logo {
    padding: 2rem 0 2rem;
    a {
        @extend %flex-center;
    }

    img {
        width: 40%;
    }
}

.form {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    box-shadow: 0 0.2em 0.5em #d2cfcf inset;
    padding: 1rem;
    height: 50px;
    @extend %icon-style;
    @extend %flex-center;

    p
    {
        margin-left: 15px;
    }
}

#search {
    border: none;
    font-size: 1.5rem;
    background: #eaeaea;
    font-weight: bold;
    text-align: center;
    width: 35%;
}

input::placeholder {
    color: black;
    opacity: 1;
}

/*END HEADER*/

/*MAIN*/

header > nav {
    background: #f2f2f2;
}

.presentation {
    display: flex;
    align-items: center;
    flex-direction: column;

    nav {
        width: 100%;
        align-items: center;
        padding: 20px 0 40px;
        background: #f2f2f2;
        
        article {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    }
}

#exploration p {
    padding-bottom: 15px;
}


.btn_explorer {
    width: auto;
    font-size: $font-size-medium-up;
    @extend %btn-style;
    @extend %btn-explorer-style;
    @extend %btn-transform;
}

.choices {
    align-items: center;
    flex-direction: column;
    gap: 0;
    padding: 1rem;
    width: 85%;

    ul > li {
        display: flex;
        align-items: center;
        padding: 0 0 0 5rem;
        margin: 0 0 3rem 0;
        border-radius: 1rem;
        box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #c4c4c4;
        background-color: #f2f2f2;
        gap: 1rem;
        height: 6rem;

        p {
            @extend %nombre-style;
        }

    }
}
    
/*articles de retaurant*/

#articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 1rem 0;
}

.articles_title {
    display: flex;
    align-items: center;
}
.articles_content {
    display: flex;
    align-items: center;
    flex-direction: column;

    article {
        width: 100%;
        height: 265px;
        background-color: white;
        border-radius: 2rem;
        box-shadow: 0 0 3rem 0 rgb(0 0 0 / 30%);
        position: relative;
    }
}

.article_picture {
    position: relative;
    text-align: center;
    color: white;

    img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
        border-radius: 2rem 2rem 0 0;
    }

    .bannier {
        display: flex;
        font-weight: 700;
        padding: 0 1rem;
        background: #99E2D0;
        border-radius: 0.2rem;
        color: #2c9c81;
        line-height: 2rem;
        position: absolute;
        top: 8px;
        right: 16px;

    }
}

.article_description {
    display: flex;
    justify-content: space-between;
    align-items: center;    position: relative;
}

.fa-heart {
    font-size: x-large;
    margin: 0 1rem 0 0;
    position: absolute;
    top: 3rem;
    right: 1rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;

    &:hover {
        transform: scale(1.15);
        opacity: 100%;
        background-image: linear-gradient(0deg, #ff79da, #9356dc);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


/* END MAIN*/

/*FOOTER*/


footer img {
    height: $heightlogo;
}

footer {
    padding: 2rem 0 2rem;
    background-color: #353535;
    color: white;    

    ul {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        margin: auto;
    }

    li {
    margin-bottom: 0.5rem;

    a {
        color: white;  
    }
    }
}

.footer_logo {
    font-family: "Shrikhand", cursive;
    font-weight: 500;
}

.fa-utensils,
.fa-hands-helping {
    margin-right: 1.5rem;
}


/**************OTHER PAGES****************/

