@charset "UTF-8";
.form, .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 1rem;
  font-size: 20px;
}

.exploration_button {
  display: inline-block;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  box-shadow: 0px 0px 2rem 0px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  border-width: 0px;
  line-height: 1;
  padding: 1.5rem;
  margin: 0;
  cursor: pointer;
}

.exploration_button:hover {
  transition-property: transform;
  transition-duration: 200ms;
  transform: scale(1.05);
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.8117647059), rgba(147, 86, 220, 0.8117647059));
  box-shadow: 0px 0px 5rem 0px rgba(0, 0, 0, 0.3);
}

.choices ul > li p {
  background-color: #9356dc;
  color: white;
  padding: 4px 7px;
  border-radius: 50%;
  margin-left: -7rem;
}

/*@extend _ mieux vaut utiliser les placeholder car dans les mixin,
le code s'écrit dans chaque élément du css
alors que avec les pl, ça se met à la suite:
h1, h2 { etc.
UTILISER LES MIXINS SEULEMENT QUAND ON A DES PARAMETRES
SINON ON UTILISE DES PLACESHOLDERS*/
@keyframes appear_scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-190px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appear {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes quartercircle {
  from {
    transform: rotate(-170deg);
  }
  to {
    transform: rotate(0deg);
  }
}
/* ***********************************************************************************************
		Reset CSS
*********************************************************************************************** */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/**global**/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: rgb(4, 4, 4);
  font-weight: 400;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.container2 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 25px;
  margin: 25px 0px;
  font-weight: bold;
  width: 80%;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  padding: 30px 0px;
}

.btn {
  text-align: center;
}

/*LOADER*/
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1;
  opacity: 0.95;
  animation: disappear 100ms;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  transform-origin: top;
}

.loader_ul {
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: solid 3px white;
}
.loader_ul li {
  list-style: none;
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 0 10px;
  border-radius: 50%;
  animation: jumping 2s linear infinite;
}
.loader_ul li:nth-child(1) {
  animation-delay: 0.45s;
  background-color: #9356DC;
}
.loader_ul li:nth-child(2) {
  animation-delay: 0.6s;
  background-color: #db7cea;
}
.loader_ul li:nth-child(3) {
  animation-delay: 0.3s;
  background-color: #fd8cff;
}
.loader_ul li:nth-child(4) {
  animation-delay: 0;
  background-color: #FF79DA;
}
.loader_ul li:nth-child(5) {
  animation-delay: 0.1s;
  background-color: #f7eb94;
}
.loader_ul li:nth-child(6) {
  animation-delay: 0.4s;
  background-color: rgb(188, 252, 104);
}
.loader_ul li:nth-child(7) {
  animation-delay: 0.6s;
  background-color: #99E2D0;
}
.loader_ul li:nth-child(8) {
  animation-delay: 0.7s;
  background-color: #47eac1;
}
.loader_ul li:nth-child(9) {
  animation-delay: 0.9s;
  background-color: #3d8bd4;
}
.loader_ul li:nth-child(10) {
  animation-delay: 0.5s;
  background-color: rgb(32, 124, 230);
}

/**************HOMEPAGE****************/
/*HEADER*/
label {
  position: absolute;
  left: -999px;
}

.logo {
  padding: 2rem 0 2rem;
}
.logo img {
  width: 40%;
}

@media only screen and (min-width: 768px) {
  .logo img {
    width: 25%;
  }
}
.form {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0 0.2em 0.5em #d2cfcf inset;
  padding: 1rem;
  height: 50px;
}
.form p {
  margin-left: 15px;
}

#search {
  border: none;
  font-size: 1.5rem;
  background: #eaeaea;
  font-weight: bold;
  text-align: center;
  width: 40%;
}

@media only screen and (min-width: 768px) {
  #search {
    width: 12%;
  }
}
.fa-solid.fa-location-dot {
  color: rgb(66, 66, 66);
  font-size: 16px;
}

input::placeholder {
  color: rgb(66, 66, 66);
  opacity: 1;
}

/*END HEADER*/
/*MAIN*/
header > nav {
  background: #fff;
}

.presentation {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.presentation nav {
  width: 100%;
  align-items: center;
  background: #f2f2f2;
}

@media only screen and (min-width: 768px) {
  .presentation {
    flex-direction: row;
    gap: 50px;
    margin: 20px 30px;
  }
  .presentation nav {
    border-radius: 50px;
  }
}
#exploration {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#exploration p {
  padding-bottom: 15px;
  font-size: 18px;
  color: rgba(56, 55, 55, 0.6784313725);
  margin: 0px 25px;
}

.exploration_button {
  width: 43%;
  font-size: 1.4rem;
  margin: 22px 0 40px;
}
@media only screen and (min-width: 768px) {
  .exploration_button {
    width: 20%;
  }
}
.button_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choices {
  display: flex;
  flex-direction: column;
}
.choices ul {
  margin-left: 16px;
}
.choices ul > li {
  display: flex;
  align-items: center;
  padding: 0 0 0 5rem;
  margin: 0 0 3rem 0;
  border-radius: 1rem;
  box-shadow: 2px 4px 7px 2.3px rgba(196, 196, 196, 0.4705882353);
  background-color: #f2f2f2;
  gap: 1rem;
  height: 6rem;
  cursor: pointer;
}
.choices ul > li:hover {
  transform: scale(1.05);
  transition-property: transform;
  transition-duration: 400ms;
  background: #F2EAFB;
}
.choices ul > li a {
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  .choices h2 {
    text-align: center;
  }
  .choices ul > li p {
    margin-left: -6rem;
  }
}
#choice_pic1,
#choice_pic2,
#choice_pic3 {
  padding: 10px;
  color: grey;
}

/*articles de retaurant*/
#articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(242, 242, 242, 0.5490196078);
  padding: 1rem 0;
  width: 100% !important;
}

.articles_title {
  display: flex;
  align-items: center;
}

.articles_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.articles_content article {
  width: 100%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.3);
  position: relative;
}
.articles_content article:hover {
  transition-property: transform;
  transition-duration: 200ms;
  transform: scale(1.05);
}
.articles_content article a {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .articles_content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .articles_content article {
    width: 45%;
  }
}
.article_picture {
  position: relative;
  text-align: center;
  color: white;
}
.article_picture img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}
.article_picture .bannier {
  display: flex;
  font-weight: 700;
  padding: 0 1rem;
  background: #99E2D0;
  border-radius: 0.2rem;
  color: #2c9c81;
  line-height: 2rem;
  position: absolute;
  top: 8px;
  right: 16px;
}

.article_description {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 12px 0px 12px 12px;
}
.article_description h2 {
  font-size: 15px;
  padding: 6px 0;
}

.fa-heart {
  margin: 0 10px;
  font-size: x-large;
  position: absolute;
  top: 2rem;
  right: 1rem;
  font-weight: 200;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
}
.fa-heart:hover {
  transform: scale(1.15);
  font-weight: 700;
  opacity: 100%;
  cursor: pointer;
  background-image: linear-gradient(0deg, #ff79da, #9356dc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* END MAIN*/
/*FOOTER*/
footer {
  padding: 2rem;
  background-color: #353535;
  color: white;
}
footer ul {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin: auto;
}
footer li {
  margin-bottom: 0.5rem;
}
footer li a {
  color: white;
}
footer li a:hover {
  text-decoration: underline;
}

.fas.fa-hands-helping {
  font-size: 10px;
}

.footer_logo {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  padding: 10px 0px 20px 0px;
}

.fa-utensils,
.fa-hands-helping {
  margin-right: 10px;
}

/**************OTHER PAGES****************/
.pages_img {
  height: 31rem;
}

.headerpages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.logopages {
  text-align: center;
}
.logopages img {
  width: 50%;
}

.fa-arrow-left {
  font-size: 2rem;
  position: relative;
  left: 1.3em;
}

img {
  width: 100%;
}

.menus {
  background-color: #f6f6f6;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  position: relative;
  margin-top: -8rem;
  padding: 0 1rem;
  z-index: 1;
  padding-bottom: 40px;
}
.menus h2 {
  display: flex;
  align-items: center;
  margin-left: 10px;
  position: relative;
  font-family: "shrikhand", sans-serif;
  font-weight: inherit;
  font-size: 26px;
}

section {
  margin: 0 0 4rem 0;
}

@media only screen and (min-width: 768px) {
  section {
    margin: 2rem 2rem 0 0;
  }
}
section h3 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-left: 15px;
  text-align: initial;
  animation: slidedown 1.5s;
}

#section1 {
  animation: appear_scale 1s;
}

#section2 {
  animation: appear_scale 2.5s;
}

#section3 {
  animation: appear_scale 5s;
}

.un {
  animation: appear_scale 1s;
}

.deux {
  animation: appear_scale 1.5s;
}

.trois {
  animation: appear_scale 2s;
}

.quatre {
  animation: appear_scale 2.5s;
}

.section_animation {
  margin-right: 0px;
}

.menus.sections h3 {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -10px;
  left: 1px;
}

.section_content {
  color: black;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0px 8px 20px rgba(131, 131, 131, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 70px;
  margin: auto;
  margin-bottom: 15px;
  padding: 0px 0px 0px 10px;
  overflow: hidden;
  animation-fill-mode: both;
  filter: drop-shadow(2px 1px 1px #d6d6d6);
}
.section_content:hover .section_animation {
  margin-right: 0px;
}
.section_content:hover .section_animation .animation_pic i {
  animation: quartercircle 0.5s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .section_content {
    width: 90%;
    height: 70px;
  }
}
.section_title::after {
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -10px;
  left: 1px;
}

.section_text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: initial;
}
.section_text .text_title {
  font-size: 16px;
  margin-bottom: 5px;
  margin: 7px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}
.section_text .text_subtitle {
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 6px;
}

.section_animation {
  display: flex;
  margin-right: -8rem;
  transition: all 500ms;
}
.section_animation .animation_price {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  margin: 0px 28px 0px 0px;
}

.animation_pic {
  background: #99E2D0;
  padding: 20px;
  border-radius: 0 1rem 1rem 0px;
}

.fas.fa-check-circle {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #ffffff;
}

.btn button {
  width: 55%;
  margin: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .sections {
    flex-wrap: wrap;
  }
  .section_content {
    width: 330px;
  }
}
@media only screen and (min-width: 768px) {
  #exploration a {
    width: 45%;
  }
  .sections {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  .pages_img {
    height: 352px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  footer {
    text-align: center;
  }
  footer ul {
    align-items: center;
  }
  .btn button {
    width: 30%;
  }
  .fa-arrow-left {
    left: -7.7em;
  }
}
@media only screen and (min-width: 1280px) {
  #exploration a {
    width: 40%;
  }
  .fa-arrow-left {
    left: -19.7em;
  }
  section {
    width: 340px;
  }
  .sections {
    justify-content: center;
    gap: 20px;
  }
  .exploration_button {
    width: 25%;
  }
}

/*# sourceMappingURL=style.css.map */
